body {
    text-align: center;
    background-color: rgb(186, 218, 235);
}

h1 {
    font-size: 50px;
}
#imageContainer > img  {
    width: 200px;
    margin: 50px;
    border: ridge 4px rgb(165, 200, 214);
    border-radius: 5px;
}