body {
    text-align: center;
    background-color: rgb(186, 218, 235);
}

h1 {
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 15px;
    margin-bottom: 20px;
    background-color: rgb(140, 200, 233);
}

#rounds {
    font-family: 'Playfair Display', serif;
}

#imageContainer > img  {
    width: 200px;
    margin: 50px;
    border: ridge 4px rgb(165, 200, 214);
    border-radius: 5px;
}

#chart {
    width: 80%;
    margin:auto;
    margin-top: 30px;
}